@section Styles{
    <link href="~/css/style-media.css" rel="stylesheet">
}

<section class="banner">
    <img src="~/images/banner3.png" />
    <div class="inner-content col-md-12">
        <div class="container">

            <h1>WATCH THIS VIDEO</h1>
            <span>WE DO THINGS IN IT</span>

            <p><span><i class="fa fa-play"></i></span>Click for inspiration at cosmic levels</p>


        </div>
    </div>
</section>

<section class="sec_include">
    <div class="container">


        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 adj_text">
                <div class="col-xs-12 col-sm-4 col-md-4 mobile-adj_text">

                    <img src="~/images/girl.png" alt="Public" />

                </div>

                <h3>Sic Transit Gloria Mundi</h3>
                <p>At the deepest level of its core, technology embodies the circle of life. And from an old age Larry Shepard unlearned how to harness that circle and perpetuate it through more technology. I need more copy here. At the deepest level of its core, technology embodies the circle of life. And from an old age Larry Shepard unlearned how to harness that circle and perpetuate it through more technology. At the deepest level of its core, technology embodies the circle of life. </p>
                <div class="readtext">
                    <!--<a href="#"> Read More...</a>-->
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 adj_text">

                <img CLASS="DESKTOP-IMG" src="~/images/girl.png" alt="Public" />

            </div>

        </div>
    </div>
</section>

<section class="sec_include-middle">
    <div class="container">


        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 adj_text">

                <img src="~/images/sec2.jpg" alt="Public" />

            </div>

            <div class="col-xs-12 col-sm-8 col-md-8 adj_text">

                <h3>Sic Transit Gloria Mundi</h3>
                <p>At the deepest level of its core, technology embodies the circle of life. And from an old age Larry Shepard unlearned how to harness that circle and perpetuate it through more technology. I need more copy here. At the deepest level of its core, technology embodies the circle of life. And from an old age Larry Shepard unlearned how to harness that circle and perpetuate it through more technology. At the deepest level of its core, technology embodies the circle of life. </p>
                <div class="readtext">
                    <!--<a href="#"> Read More...</a>-->
                </div>
            </div>
        </div>
</section>



<section class="sec_include1">
    <div class="container">


        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 adj_text">
                <div class="col-xs-12 col-sm-4 col-md-4 mobile-adj_text">

                    <img src="~/images/sec3.jpg" alt="Public" />

                </div>
                <h3>Sic Transit Gloria Mundi</h3>
                <p>At the deepest level of its core, technology embodies the circle of life. And from an old age Larry Shepard unlearned how to harness that circle and perpetuate it through more technology. I need more copy here. At the deepest level of its core, technology embodies the circle of life. And from an old age Larry Shepard unlearned how to harness that circle and perpetuate it through more technology. At the deepest level of its core, technology embodies the circle of life. </p>
                <div class="readtext">
                    <!-- <a href="#"> Read More...</a>-->
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 adj_text">

                <img CLASS="DESKTOP-IMG" src="~/images/sec3.jpg" alt="Public" />

            </div>
        </div>
</section>

@Html.ActionLink("Manage Media", "Index", "Media")



